<div class="containers">
	<div class="card-container">
		<div class="front">
			<!-- <img class="movie-img" src="assets/img/movies/{{movie.imdbID}}.jpg" (error)="errorHandler($event)"/> -->
			<img class="movie-img" src="{{movie.Poster}}"/>
		</div>
		<div class="card-content back">
			<h5 class="card-title">{{movie.Title}}</h5>
			<p class="sub-title">
				{{movie.Director}}
			</p>
			<p class="text">
				{{movie.Genre}}
			</p>
			<!-- <a href="https://www.imdb.com/title/{{movie.imdbID}}/" target="_blank">Read More</a> -->
			<div class="footer">
				<p class="text">
					{{movie.Year}} , {{movie.Runtime}}
				</p>
				<div class="button">
					<ng-content select=".edit"></ng-content>
					<ng-content select=".trash"></ng-content>
				</div>
			</div>
		</div>
	</div>
</div>