<div class="containers">
	<div class="card-container">
		<img class="movie-img" src="assets/img/movies/{{movie.imdbID}}.jpg" (error)="errorHandler($event)"/>
		<div class="card-content">
			<h5 class="card-title">{{movie.Title}}</h5>
			<p class="sub-title">
				{{movie.Director}}
			</p>
			<p class="text">
				{{movie.Genre}}
			</p>
			<div class="footer">
				<p class="text">
					{{movie.Year}} , {{movie.Runtime}}
				</p>
				<div class="button">
					<ng-content select=".edit"></ng-content>
					<ng-content select=".trash"></ng-content>
				</div>
			</div>
		</div>
	</div>
</div>