<div class="containers">
  <div class="header">
    <img class="logo" src="assets/img/movies/imdb-logo-transparent.png"/>
    <p class="title">Cinema Movies</p>
    <a class="icon" (click)="openDialog()"><i class="fa fa-plus-circle"></i></a>
  </div>
  <div class="content">
    <div class="side-manu">
      <div class="search">
        <form class="form-inline active-purple-4">
          <input class="form-control form-control-sm mr-3 w-75" type="text" [(ngModel)]="searchTitle" name="searchTitle"
            placeholder="Serach any fields" aria-label="Search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
      </div>
      <div class="filter">
        <div class="filter-title">
          <p>Filter by genre</p>
          <a id="close" (click)="cancelCheckedGrenres()"><i class="fa fa-close"></i></a>
        </div>
        <div class="checkboxs">
          <div class="checkbox" *ngFor="let genre of filteGrenres">
            <label class="container">{{genre.value}}
                <input type="checkbox" [(ngModel)]="genre.checked" [value]="genre.value">
                <span class="checkmark"></span>
              </label>
          </div>
        </div>
      </div>

    </div>
    <div class="list" *ngIf="moviesList">
      <app-movies-list [moviesList]="moviesList | titlesSearch: searchTitle | genreFilter: checkedGrenres()"
        (editMovieHendler)="editMovieHendler($event)" (deleteMovieHendler)="deleteMovieHendler($event)"></app-movies-list>
    </div>
  </div>
  <div class="dialog-continer fadeIn" *ngIf="formDialogOpne || deleteDialogOpne">
    <div class="dialog">
      <div class="form" *ngIf="formDialogOpne">
        <app-movie-form [movieObj]="movieObj" [errorMesseges]="movieHelper.movieErorrs" (movieHendler)="saveMovieHendler($event)">
          <h3 class="title">{{isNewMovie? 'Add new movie form': 'Edit movie form'}}</h3>
          <a id="close" (click)="resetProperties()"><i class="fa fa-close"></i></a>
          <button class="save btn btn-primary" type="submit">{{isNewMovie? 'Add movie': 'save movie'}}</button>
          <button class="cancel btn btn-secondary" (click)="resetProperties()">Cancel</button>
        </app-movie-form>
      </div>
      <div class="delete-message" *ngIf="deleteDialogOpne">
        <div class="modal-content">
          <div class="modal-header">
            <div class="icon-box">
              <i class="fa fa-times"></i>
            </div>
            <h4 class="modal-title">Are you sure?</h4>
            <button type="button" class="close" (click)="deleteDialogOpne = !deleteDialogOpne">&times;</button>
          </div>
          <div class="modal-body">
            <p>Do you really want to delete these movie? This process cannot be undone.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" (click)="deleteDialogOpne = !deleteDialogOpne">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteMovie()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
